.bb-bulletin {
    margin: 1rem;
    width: 300px;
}

.bb-bulletin .card-title {
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
}

.bb-bulletin .card-text {
    white-space: pre-line;
}

.btn+.btn {
    margin-left: 10px;
}